{% extends 'base.html' %}
{% block title %}
    <title>Update Article</title>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
         <table>
            <tr>
                <td>Title: </td>
                <td><input type="text" name="title"
                    value="{{ article.title }}" /></td>
            </tr>
            <tr>
                <td>Body: </td>
                <td><textarea name="body" rows="10"
                     cols="25" >{{ article.body }}
                </textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}